#carouselSection
{
    background-color: rgb(0, 0, 0) !important;
}

#carouselExampleIndicators 
{
    max-width: 80%;
    max-height: 450px; /* Aumentar a altura máxima */
    overflow: hidden;
    margin: 0 auto;
}

.carousel-inner img 
{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption 
{
    position: absolute;
    bottom: 60px; /* Ajustar a posição da legenda */
    left: 12%; /* Centralizar a legenda */
    right: 12%; /* Centralizar a legenda */
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Adicionar fundo para melhor legibilidade */
    padding: 10px; /* Adicionar algum padding */
    z-index: 10 !important; /* Maior que o das imagens */
}