:root 
{
    --laranja-betel: #FCAC21; /* Define a root variable for primary color */
}

/* ---------------- HERO ----------------*/
.hero {
    background-image: url('../images/1600x900\ gif.gif'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição */
    background-attachment: fixed; /* Paralaxe fixa */
    background-color: #000; /* Cor de fundo caso a imagem não carregue */
    height: 100vh; /* Altura da janela */
    position: relative; /* Necessário para posicionamento */
    overflow: hidden; /* Esconde o conteúdo que transborda */
    color: white;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adiciona um overlay escuro */
    z-index: 1; /* Coloca o overlay acima da imagem */
}

.hero .container {
    position: relative; /* Necessário para que o conteúdo fique acima do overlay */
    z-index: 2; /* Garante que o texto fique acima do overlay */
}

.btn-hero {
    background-color: transparent;
    color: white;
    border: 1px #ffffff !important;
    border-radius: 2px;;
    padding: 10px 20px;
    border-radius: 1px;
    border-style: solid !important;
}

.btn-hero:hover {
    background-color: #ffffff25;
    color: white;
}

/* ---------------- HERO END ----------------*/

section {
    padding: 60px 0;
}

.nav-link
{
    color: #ffffff !important;
}

.navbar
{
    background-color: #000000;
}

.navbar-toggler
{
    border: none;
}

.contato-tipo
{
    color: black;
}

.contato
{
    color: var(--laranja-betel); 
    text-decoration: none;
}

.contato:hover
{
    color: var(--laranja-betel);
    text-decoration: underline;
}

footer 
{
    background-color: #000000;
    padding: 20px 0;
    color: #ffffff;
}