:root 
{
    --laranja-betel: #FCAC21;
    --laranja-betel-dark: #da941b;
    --laranja-betel-dark2:rgb(182, 124, 23);
}

.link-clicavel
{
    text-decoration: none;
}

.link-clicavel:hover
{
    text-decoration: underline;
}

/* ---------------- HERO ----------------*/
.hero {
    background-image: url('../images/1600x900\ gif.gif'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição */
    background-attachment: fixed; /* Paralaxe fixa */
    background-color: #000; /* Cor de fundo caso a imagem não carregue */
    height: 100vh; /* Altura da janela */
    position: relative; /* Necessário para posicionamento */
    overflow: hidden; /* Esconde o conteúdo que transborda */
    color: white;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adiciona um overlay escuro */
    z-index: 1; /* Coloca o overlay acima da imagem */
}

.hero .container {
    position: relative; /* Necessário para que o conteúdo fique acima do overlay */
    z-index: 2; /* Garante que o texto fique acima do overlay */
}

.btn-hero {
    background-color: transparent;
    color: white;
    border: 1px #ffffff !important;
    border-radius: 2px;;
    padding: 10px 20px;
    border-radius: 1px;
    border-style: solid !important;
}

.btn-hero:hover {
    background-color: #ffffff25;
    color: white;
}

/* ---------------- Ministérios ----------------*/
#ministerios
{
    background-color: #000 !important;
    color: #000;
}

#ministerios h2
{
    color: #fff;
}

.ministerios-label
{
    color: white;
}

#ministerios .card
{
    width: 100%;
    height: 250px !important;
}

.ministerios-btn
{
    background-color: var(--laranja-betel);
    border: 0px;
    position: absolute;
    bottom: 10px;
}

.ministerios-btn:hover
{
    background-color: var(--laranja-betel-dark);
    border: 0px;
}

.ministerios-btn:focus, 
.ministerios-btn:active {
    background-color: var(--laranja-betel-dark2) !important;
    border: 0px;
    outline: 2px solid var(--laranja-betel-dark2) !important;;
}
/* ---------------- Contato ----------------*/

/* CSS filter generator to convert from black to target hex color: https://codepen.io/sosuke/pen/Pjoqqp */

.contato-tipo, .contato-info
{
    color: black;
}

/*.contato
{
    text-decoration: none;
}

.contato:hover
{
    text-decoration: underline;
}*/

.icon-instagram, .icon-facebook, .icon-youtube, .icon-twitterx, .icon-mail, .icon-phone
{
    /* #000000 */
    color: #000;
    filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(267deg) brightness(103%) contrast(103%);
}

.icon-youtube:hover, .icon-mail:hover
{
    /* #ff2424 */
    color: #ff2424;
    filter: invert(30%) sepia(68%) saturate(5446%) hue-rotate(349deg) brightness(109%) contrast(100%);
}

.icon-phone:hover
{
    /* #10a310 */
    color: #000000;
    filter: invert(41%) sepia(23%) saturate(2858%) hue-rotate(83deg) brightness(103%) contrast(98%);
}

.icon-facebook:hover
{
    /* #2424ff */
    color: #000;
    filter: invert(13%) sepia(100%) saturate(4338%) hue-rotate(244deg) brightness(100%) contrast(121%);
}

.icon-twitterx:hover
{
    /* #1071ad */
    color: #1071ad;
    filter: invert(29%) sepia(85%) saturate(1053%) hue-rotate(175deg) brightness(98%) contrast(89%);
}

.icon-instagram:hover
{
    /* #fa1968 */
    color: #fa1968;
    filter: invert(28%) sepia(55%) saturate(7231%) hue-rotate(326deg) brightness(97%) contrast(103%);
}

/* ---------------- Departamentos ----------------*/
.departamentos-primeira-linha
{
    padding-top: 30px;
}

.departamentos-segunda-linha
{
    margin-top: -15px !important;
}

.descricao-jovens
{
    margin-top: 39px;
}

.logo-adolescentes > img
{
    margin-bottom: 0px;
}

.logo-jovens img
{
    margin-bottom: -50px;
}

.logo-adolescentes p, .logo-jovens p, .logo-deibb p, .logo-dehobb p, .logo-demubb p
{
    color: #000;
}

.logo-adolescentes img, .logo-jovens img, .logo-deibb img, .logo-dehobb img, .logo-demubb img
{
    /* #000 */
    filter: invert(0%) sepia(96%) saturate(0%) hue-rotate(267deg) brightness(103%) contrast(103%);
}

.logo-adolescentes:hover
{
    /* #6E00B4 */
    filter: invert(19%) sepia(86%) saturate(4441%) hue-rotate(273deg) brightness(68%) contrast(123%);
}

.logo-jovens:hover
{
    /* #056B9D */
    filter: invert(26%) sepia(90%) saturate(1374%) hue-rotate(175deg) brightness(93%) contrast(96%);
}

.logo-deibb:hover
{
    /* #ff2424 */
    color: #ff2424;
    filter: invert(30%) sepia(68%) saturate(5446%) hue-rotate(349deg) brightness(109%) contrast(100%);
}

.logo-dehobb:hover
{
    /* #ccbb00 */
    filter: invert(13%) sepia(100%) saturate(4338%) hue-rotate(244deg) brightness(100%) contrast(121%);
}

.logo-demubb:hover
{
    /* #ff24cc */
    filter: invert(46%) sepia(88%) saturate(5814%) hue-rotate(295deg) brightness(99%) contrast(109%);
}

/* ---------------- Footer ----------------*/
footer 
{
    background-color: #000000;
    padding: 20px 0;
    color: #ffffff;
}