#notice-board
{
    background: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
    padding-bottom: 95px !important;
    margin-top: -25px !important;
}

#notice-board a
{
    color: black !important;
}

#notice-board h2
{
    color: rgb(255, 255, 255) !important;
}

.notice-board-item
{
    background-color: rgb(255, 255, 255);
}

.notice-board-item:hover
{
    background-color: #FCAC21;
}